.about{
    margin: 2rem 0;
    padding: 2rem 0;

    &-content{
        width: 100%;

        @include from(desktop){         
            display: flex;
        }
    }

    &-s1{

        
        width: 100%;
        
        @include from(desktop){
            width: 40%;
            padding: 0 1rem;
        }

        &-figure{
            max-width: 100%;
            height: auto;
            position: relative;
            padding-bottom: 2rem;
            padding-left: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;

            &:after{
                content: '';
                display: flex;
                width: 80%;
                height: 80%;
                position: absolute;
                top: 20%;
                left: 0;
                z-index: $z-back;
                background-image: url('/media/dots.png');
                background-repeat: repeat;
            
            }

            
            
        }
        &-img{
            
            max-width: 100%;
            height: auto;


            
        }

        
    }

    &-s2{
        
        @include from(desktop){
            width: 60%;
        }

        &-subtittle{
            padding: 1rem 0;
            color: #b5b5b5;
            letter-spacing: 2px;

            @include from(desktop){
                padding-top: 0;
            }
        }

        &-text{
            color: #748182;

        }


        &-skills{
            padding: 1rem 0;
            margin-top: 1rem;

            & .box{
                margin-bottom: 2rem;
                width: 100%;
                height: 1.5rem;
                background-color: #f7f7f7;
                box-shadow :0px 2px 7px rgba(0, 0, 0, 0.15) inset;
                border-radius: 5px;
                position: relative;
                font-size: .8rem;

                & h4{
                    color: white;
                    position: absolute;
                    margin-left: .5rem;
                    font-weight: $weight-normal;
                    padding: .2rem 0;
                }

                &-bar{
                    max-width: 0;
                    height: 100%;
                    background-color: #1c1c1c;
                    border-radius: 5px;
                    color: white;
                    text-align: end;
                    padding: .2rem .5rem;
                   
                }
            }
        }

        &-buttons{
            width: 100%;
            
            & .btn{
                margin-right: .5rem;
            }
        }

    }
}