.banner{
    width: 100%;
    height: 100vh;


    &-main{
        width: 100%;
        height: auto;
    }

    &-background{
        position: absolute;
        z-index: $z-back;
        top: 0;
        height: 100vh;
        width: 100%;
        background-image: url('/media/bg.jpg');
        background-attachment: fixed;
        background-size: cover;


    }

    &-overlay{
        background-color: black;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        z-index: $z-normal;
        opacity: .65;
    }

    &-content{
        color: white;
        width: 100%;
        height: 100vh;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: $z-normal;
    }

}

.info{
    font-size: 1em;

    &-tittle{
        text-align: center;
        font-size: 3.5em;
        font-weight: 900;

        @include from(desktop){
            font-size: 4.5em;
        }
    }

    &-text{
        display: flex;
        justify-content: center;
        margin: 1rem 0;

        &S1{
            font-size: 2rem;
            font-weight: 200;
            margin-right: .8rem;

            @include from(desktop){
                font-size: 2.5rem;
            }
        }

        &S2{
            font-size: 2rem;
            font-weight: 400;
            height: 3rem;
            overflow: hidden;

            @include from(desktop){
                font-size: 2.6rem;
                height: 4rem;

            }

            & ul{
                animation: animateText 15s infinite; 

                @include from(desktop){
                    animation: animateTextDesktop 15s infinite;
                }
            }

        }
    }

    &-social{
        display: flex;
        justify-content: center;
        animation: animateSocial 10s ease-in-out;

        & li{
            width: auto;
            height: 2rem;
            margin: 1.5rem .3rem;

            & a{
                color: white;
                width: 2rem;
                height: 2rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                background-color: black;

            }
        }
    }
}