.clients{
  background-color: #f7f7f7;
  margin: 2rem 0;
  padding: 2rem 0;


  &-box{



    &-content{

      &-dots{
        display: flex;
        justify-content: center;
        margin-bottom: 5rem;

      }


      &-dot{
        margin-right: .5rem;
        cursor: pointer;


        & span{
          display: block;
          width: .7rem;
          height: .7rem;
          background-color: #748182;
          border-radius: 50%;
        }
      }
     

    }

  }

}

.item{
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;

  &-figure{
    margin: 1rem 0;

    & img{
      border-radius: 50%;
      max-width: 100%;
      height: 100%;
    }
  }

  &-text{

    color: #748182;
    font-size: 1rem;
  }

  &-name{
    margin-top: 2rem;
    font-weight: $weight-normal;
  }

  &-job{
    color: #748182;
    font-size: .8rem;
    margin-bottom: 2rem;
  }
}