.contact{
  margin: 2rem 0;
  padding: 2rem 0;
  &-main{
    width: 100%;
  }
  &-info{
    font-style: normal;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
  }

  &-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    flex: 1 1 300px;
  }

  &-icon{
    width: 4rem;
    height: 4rem;
    background-color:#f7f7f7;
    font-size: 1.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .5s ;
    margin: 1rem 0;

    &:hover{
      background-color:#1c1c1c;
      color: #f7f7f7;
    }
  }
  &-tittle{
    font-weight: $weight-semibold;
  }

  &-text{
    color: #1c1c1c;
    margin: .5rem 0;
  }



  &-form{
    margin: 3rem 0;
    width: 100%;

    &-s1{
      display: flex;
      align-items: center;
      height: 4rem;
      flex-wrap: wrap;
      margin-bottom: 2rem;
      @include from(tablet){
        margin-bottom: 0; 
       }
      & div{
        width: 50%;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 1rem;
        flex: 1 1 400px;
      }
      
      & input{
        width: 100%;
        border: 0;
        border-radius: 5px;
        padding: 10px;
        background: #f4f4f4;
      }

    }

    &-s2{
      height: 100%;
      text-align: center;
      width: 100%;
      padding-top: 1rem;
      padding-left: 15px;
      padding-right: 15px;

      @include from(tablet){
       padding-top: 0; 
      }

      & textarea{
        width: 100%;
        border: 0;
        border-radius: 5px;
        padding: 10px;
        background: #f4f4f4;
      }

    }
    &-s3{
      margin-top: 1rem;
      display: flex;
      justify-content: center;

      & input{
        outline: 0;
        padding: .5rem 2rem;
        background-color: #1c1c1c;
        color: white;
      }
      
    }
  }
}