.count{
  background-color: #f7f7f7;
  padding: 4rem 0;

  &-main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    
  }

  &-item{
    flex: 1 1 240px;
    width: 100%;
    text-align: center;
    margin: 1rem 0;
  }

  &-icon{
    font-size: 2rem;
  }

  &-up{
    font-size: 2rem;
    font-weight: $weight-bold;
    margin: .5rem 0;
  }

  &-text{
    color: #748182;
    font-weight: $weight-semibold;
  }
}