.header{
    width: 100%;
    height: $header-height;
    color: $header-color;
    transition: background-color .5s;
    position: fixed;
    z-index: $z-fixed;


    &-active{
        background-color: $header-color;
        color: darken($header-color,100%);
        box-shadow: 0 0 .2em #1c1c1c;
    }

    &-container{
        width: 100%;
        height: 100%;

        @include from(desktop){
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    &-brand{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size:1em;

        &Logo{
            color: inherit;
            font-size:1.4em;

            & h1{
                font-weight: $weight-xbold;
            }
        }   


        &Burger{
            color: inherit;
            font-size:1.5em;

            @include from(desktop){
                display: none;
            }
        }
    }

    &-nav{
        

    }
}