.nav{
    overflow-y: auto;
    width: 80vw;
    background-color: white;
    font-size: 1em;
    font-weight: $weight-normal;
    position: fixed;
    top: $header-height;
    z-index: $z-fixed;
    right: -80vw;
    bottom: 0;
    text-align: center;
    transition: right .3s;
    padding: 0 1rem;


    @include from(desktop){
        background-color: transparent;
        position: static;
        display: flex;
        width: auto;
        text-align: initial;
        padding: 0;

    }

    &-active{
        right: 0;
    }
  
 
    &-item{
    
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 3rem;

        @include from(desktop){
            padding: 0 1rem;
        }

        
    }

    &-link{
        color: $link-color;
        
       

        @include from(desktop){
            color: inherit;
            position: relative;
        
        }

        &:after{
            content: "";
            display: block;
            height: 2px;
            transform: scale(0);
            transform-origin: left;
            background-color: white;
            transition: transform .3s  ease-in-out;
        } 

        &:hover:after{
            transform: scale(1);
        }
        
    }

    &-plink{
        width: 100%;
        transform: scale(0);
        transform-origin: left;
        height: 2px;
        background-color: #1c1c1c;
        transition: transform .5s;


        &-active{
            transform: scale(1);
            background-color: #1c1c1c;
        }
    }
}