.services{
    width: 100%;
    background-color: #f7f7f7;
    padding: 2rem 0;
    margin: 2rem 0;

    &-main{

    }

}

.gridservices{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(280px,1fr));
    grid-gap: 2rem;

    @include from(desktop){
        grid-template-columns: repeat(3,minmax(280px,1fr));
    }


    &-item{
        text-align: center;
        box-shadow: 0px 10px 30px -8px rgba(0, 0, 0, 0.1);
        background-color: white;
        border-radius: 5px;
        padding: 2rem 1rem;
      
    }

    &-icon{
        

        & i{
            width: 4.5rem;
            height: 4.5rem;
            font-size: 1.5rem;
            display: flex;
            margin: 1.5rem auto;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-color:#f7f7f7;
            transition: background-color .3s;


            &:hover{
                background-color: #1c1c1c;
                color: #f7f7f7;
            }
        }
        
    }

    &-tittle{
        font-weight: $weight-bold;
        font-size: 1.2rem;
    }

    &-text{
        margin: 1rem 0;
        color: #748182;
        font-size: .92rem;
    }
}