.works{
  margin: 2rem 0;
  padding: 2rem 0;


  &-main{

  }
}

.gridwork{

    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(280px,1fr));
    grid-gap: 2rem;

    @include from(desktop){
        grid-template-columns: repeat(3,minmax(280px,1fr));
    }

  &-item{
    text-align: center;
    position: relative;
    width: 100%;
    height: 18rem;

  }
  &-background{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }
  &-overlay{
    position: absolute;
    top: 2%;
    bottom: 2%;
    left: 2%;
    width: 96%;
    height: 96%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: $z-normal;
    background-color: white;
    opacity: 0;
    transition: opacity .5s;

    &:hover{
      opacity: 1;
    }


    &-tittle{
      margin: .5rem;
      color: #1c1c1c;
      font-weight: $weight-semibold;
    }

    &-icons{
      display: flex;

      & i{
        width: 2rem;
        height: 2rem;
        margin: .1rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #1c1c1c;
        color: white;
       
      }

    }
  }

}

@for $i from 1 through 6{

  .item-#{$i}{
    background-image: url('/media/#{$i}.jpg');
  }
}

