html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

span{
  font-style: inherit;
  font-weight: inherit;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img,
embed,
iframe,
object,
video {
  height: auto;
  max-width: 100%;
}

audio {
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

a{
  text-decoration: none;
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
  
  display: block;
}

body,
button,
input,
select,
textarea{

  font-family: $font-family;
}


code,
pre{
  
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  font-family: $family-code;
}

img{
  
  height: auto;
  max-width: 100%;
}

input[type="checkbox"],
input[type="radio"]{

  vertical-align: baseline;

}