
body{
    overflow-x: hidden;
}

.l-container{
    max-width: $max-width;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-right: auto;
    margin-left: auto;
}

.container{
    width: 100%;
    height: auto;
    position: relative;
}

.flex-center{
     display: flex;
     justify-content: center;
     align-items: center;
}