
// Colors

$color-success : hsl(141, 71%,  48%);
$color-warning : hsl(48,  100%, 67%);
$color-danger  : hsl(348, 100%, 61%);
$color-link    : hsl(217, 71%,  53%);
$color-info    : hsl(0, 0%, 86%);

$light:hsl(0, 0%, 86%) ;
$dark: hsl(0, 0%, 29%) ;


// Typography

$font-family: BlinkMacSystemFont, -apple-system,'Poppins', sans-serif;
$family-code: monospace ;


$weight-light: 200;
$weight-normal: 400 ;
$weight-semibold:600;
$weight-bold: 700 ;
$weight-xbold:900;

//  Z-index Variables

$z-back: -10;
$z-normal: 1;
$z-tooltip: 10;
$z-fixed: 100;
$z-modal: 1000;


//  Layout

$max-width: 1200px;


//  BreakPoints
$breakpoints: ( 
  x-desktop     : 1200px,
  desktop       : 992px,
  tablet        : 768px,
  phablet       : 576px,
  mobile       : 320px
);


