@keyframes animateText {

    0%,20%{margin-top: 0;}

    25%,45%{margin-top: -3rem;}

    50%,70%{margin-top: -6rem;}

    75%,95%{margin-top: -3rem;}

    100%{margin-top: 0;}
}

@keyframes animateTextDesktop {

    0%,20%{margin-top: 0;}

    25%,45%{margin-top: -4rem;}

    50%,70%{margin-top: -8rem;}

    75%,95%{margin-top: -4rem;}

    100%{margin-top: 0;}
}


@keyframes animateBar {
    from{width: 0;}
    to{width:100%;}
}