
$header-color:white;
$header-height: 4rem;
$link-color : $dark;


.tittle{
    text-align: center;
    font-size: 1.9rem;
    font-weight: $weight-bold;
    margin:2rem 0;
    color: #343434;

    @include from(desktop){
        font-size: 2.2rem;
        padding:3rem 0;
    }
}
